@model IEnumerable <AssetImportData>

@{
    ViewBag.Title = "Assets";
}

<div>
    <h2>Assets</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.File_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mime_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.File_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mime_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AssetId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AssetId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AssetId })
                </td>
            </tr>
        }

    </table>
</div>
